@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Playfair+Display:wght@400;600;900&display=swap');

body {
    font-family: Playfair Display, Arial, Helvetica, sans-serif;
    font-weight: 900;
    background-color: #f2efee;
}

/* Remove default values */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Logo and navigation */
header {
    background-color: #f2efee;
    display: flex;
    flex-direction: column;
}

#logo-container a {
    text-decoration: none;
}

#logo {
    padding: 10px 35px 10px 35px;
    background-color: #54473c;
    font-weight: 900;
    font-size: 7vw;
    color: #cdc2ba;
    text-align: center;
}

#logo i {
    font-size: 6vw;
    text-shadow: 2px 2px #826f60;
}

nav {
    display: flex;
    justify-content: space-evenly;
    margin: 0.5em;
}

.nav-container {
    font-size: 1em;
}

.nav-container a {
    color: #54473c;
    text-decoration: none;
    font-weight: 900;
}

.nav-container a:hover {
    font-size: 105%;
}

.current {
    border-bottom: 2px solid #826f60;
}

/* Main image and text */
main {
    position: relative;
}

#main-image {
    background-image: url(../images/hero-image.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f2efee;
    height: 100vh;
    width: 97%;
    margin: 0 0.3em;
    border-radius: 5vw;
}

#main-text {
    background-color: #54473c;
    border-radius: 3vw;
    color: #cdc2ba;
    font-size: 3.5vw;
    text-align: center;
    width: 40%;
    padding: 20px;
    top: 3em;
    right: 2em;
    position: absolute;
}

#read-more {
    font-size: 3vw;
    text-align: center;
    bottom: 5em;
    right: 2.5em;
    position: absolute;
}

#read-more a {
    text-decoration: none;
    color: #cdc2ba;
    border: 1px solid #54473c;
    border-radius: 3vw;
    background-color: #54473c;
    padding: 10px;
}

/* About section */
#about-us {
    color: #826f60b5;
    display: flex;
    flex-direction: column;
}

.about-containers {
    width: 100%;
}

#image-box {
    width: 320px;
    height: 500px;
    overflow: hidden;
    margin-left: 0.3em;
    border-radius: 5vw;
}

div > img {
    height: 100%;
}

.about {
    margin: 0.6em 0.3em;
    background-color: #cdc2ba;
    color: #54473c;
    border-radius: 5vw;
}

.about-text {
    padding: 20px;
}


.about h2 {
    line-height: 0.5;
    font-size: 6vw;
    padding-bottom: 5px;
}

.about p {
    font-size: 3.5vw;
    padding-top: 10px;
    font-weight: 400;
}

/* Customer reviews */
#reviews-header {
    background: #54473c;
    text-align: center;
    margin-bottom: 0.3em;
    padding: 10px;
}

#reviews-header h2 {
    font-size: 5vw;
    color: #cdc2ba;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.customers {
    text-align: center;
    width: 85%;
    color: #54473c;
    font-size: 3.5vw;
    font-weight: 400;
    background-color: #cdc2ba;
    padding: 20px;
    border-radius: 5vw;
    margin: 0.3em;
}

/* Contact section */
#location-header {
    margin: 0.3em 0;
    padding: 10px;
    text-align: center;
    font-size: 3vw;
    color: #cdc2ba;
    background-color: #54473c;
}

.location-container {
    display: flex;
    justify-content: center;
    color: #54473c;
    margin-bottom: 0.3em;
    flex-direction: column;
}

.contact {
    color: #54473c;
    font-size: 4.5vw;
}

.location-text {
    padding: 20px;
    border-radius: 5vw;
    width: auto;
    font-size: 3.5vw;
    font-weight: 400;
    background-color: #cdc2ba;
    margin: 0.3em 0.6em;
}

#fname {
    margin-top: 0.5em;
    border-radius: 1vw;
}

#lname {
    margin-top: 0.3em;
    border-radius: 1vw;
}

#select-type,
#yogatype {
    margin: 0.3em 0;
    border-radius: 1vw;
}

.form-style {
    background-color: #f2efee;
    border: 1px solid #54473c;
    padding: 3px 5px;
}

#select-type,
#pick-date {
    margin-right: 0.2em;
}

#time {
    margin-bottom: 0.6em;
    font-family: playfair display, sans-serif;
    border-radius: 1vw;
    font-size: 3.5vw;
}

#submit {
    margin-top: 0.3em;
    background-color: #54473c;
    padding: 10px 20px;
    color: #cdc2ba;
    font-size: 3.5vw;
    border-radius: 3vw;
    font-family: playfair display, sans-serif;
    font-weight: 900;
}

#submit:hover {
    font-size: 4vw;
}

#yogatype {
    font-family: playfair display, sans-serif;
    background-color: #f2efee;
    border: 1px solid #54473c;
    font-size: 3.3vw;
}

/* footer */
.socialmedia-container {
    background-color: #54473c;
    display: flex;
    justify-content: center;
}

#media-one i,
#media-two i,
#media-three i,
#media-four i {
    color: #cdc2ba;
    font-size: 5vw;
    padding: 0.5em 1em;
}

/* Blog post preview */
.blog-preview {
    font-size: 1.4vw;
    margin: 50px;
}

.blog-preview h2 {
    color: #54473c;
    line-height: 50px;
    border-bottom: 2px solid #826f60;
    font-size: 2.5vw;
    font-family: oooh baby, sans-serif;
}

.blog-preview i {
    font-size: 2vw;
}

.blog-preview p {
    font-weight: 400;
    color: #54473c;
}

.blog-preview a {
    text-decoration: none;
}

/* Style for blog post pages */
#blog-post h3 {
    color: #54473c;
    font-weight: 600;
}

#blog-post h1 {
    color: #cdc2ba;
    font-family: oooh baby, sans-serif;
    font-size: 2vw;
    background-color: #54473c;
    border-radius: 1vw;
    padding: 10px 10px;
    margin-bottom: 10px;
}

/* Gallery */
#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* Media queries */
/* For small screens from 350px wide */
@media screen and (min-width: 350px) {
    #image-box {
        width: 325px;
    }
}

/* For small screens from 450px wide */
@media screen and (min-width: 450px) {
    #image-box {
        width: 425px;
        height: 650px;
    }

    .customers {
        width: 88%;
    }

    .location-text {
        margin: 0.3em 0.3em;
    }
}

/* For small screens from 550px wide */
@media screen and (min-width: 550px) {
    #image-box {
        width: 520px;
        height: 780px;
    }

    .customers {
        width: 90%;
    }
}

/* For small screens from 750px wide */
@media screen and (min-width: 750px) {
    #image-box {
        width: 720px;
        height: 1100px;
    }

    .customers {
        width: 93%;
    }
}


/* For small to medium screens up to size 850px wide */
@media screen and (min-width: 850px) {
    .nav-container {
        font-size: 1.5em;
        margin: 2em 2em 0;
    }

    #main-image {
        width: 98%;
        margin: 0.3em;
    }
}

/* For small to medium screens up to size 1200px wide */
@media screen and (min-width: 1000px) {
    #image-box {
        width: 825px;
        height: 1300px;
    }

    .nav-container {
        font-size: 2em;
        margin: 0;
    }

    #main-text {
        background-color: #54473cd9;
        top: 1em;
        right: 0.5em;
    }

    #main-image {
        border-radius: 2vw;
        width: 99%;
    }

    #read-more a {
        border-radius: 1vw;
    }

    #read-more {
        bottom: 6em;
        right: 1em;
    }

    .about p {
        font-size: 2vw;
    }

    .about h2 {
        font-size: 4vw;
    }

    .about {
        border-radius: 3vw;
    }

    .about-text {
        padding: 20px 30px;
    }

    #image-box {
        width: 970px;
        height: 1500px;
    }

    .customers {
        font-size: 2vw;
        width: 95%;
        border-radius: 2vw;
    }

    .reviews-container {
        flex-direction: row;
    }

    #reviews-header h2 {
        font-size: 4vw;
    }

    #location-header {
        font-size: 2.5vw;
        margin: 0.2em;
    }

    .location-text {
        margin: 0.2em;
        border-radius: 2vw;
        font-size: 2.5vw;
    }

    #fname, 
    #lname {
        border-radius: 0.5vw;
    }

    #select-type,
    #yogatype {
        border-radius: 0.5vw;
        font-size: 1em;
    }

    .contact {
        font-size: 3.5vw;
    }
}

/* For small to medium screens up to size 1200px wide */
@media screen and (min-width: 1200px) {

    .about-containers {
        display: flex;
    }

    header,
    .location-container,
    .about-containers {
        flex-direction: row;
    }

}


