@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Playfair+Display:wght@400;600;900&display=swap');

body {
    font-family: Playfair Display, Arial, Helvetica, sans-serif;
    font-weight: 900;
    background-color: #f2efee;
}

/* Remove default values */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Logo and navigation */
header {
    background-color: #f2efee;
    display: flex;
    flex-direction: column;
}

#logo-container a {
    text-decoration: none;
}

#logo {
    padding: 10px 35px 10px 35px;
    background-color: #54473c;
    font-weight: 900;
    font-size: 7vw;
    color: #cdc2ba;
    text-align: center;
}

#logo i {
    font-size: 6vw;
    text-shadow: 2px 2px #826f60;
}

nav {
    display: flex;
    justify-content: space-evenly;
    margin: 0.5em;
}

.nav-container {
    font-size: 1em;
}

.nav-container a {
    color: #54473c;
    text-decoration: none;
    font-weight: 900;
}

.nav-container a:hover {
    font-size: 105%;
}

.current {
    border-bottom: 2px solid #826f60;
}

/* Main image and text */
main {
    position: relative;
}
#main-image {
    background-image: url(../images/hero-image.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f2efee;
    height: 100vh;
    width: 97%;
    margin: 0.3em;
    border-radius: 5vw;
}

#main-text {
    background-color: #54473c;
    border-radius: 0 3vw;
    color: #cdc2ba;
    font-size: 3.5vw;
    text-align: center;
    width: 40%;
    padding: 20px;
    top: 3em;
    right: 2em;
    position: absolute;
}

#read-more {
    font-size: 3vw;
    text-align: center;
    bottom: 37em;
    right: 2.5em;
    position: absolute;
}

#read-more a {
    text-decoration: none;
    color: #cdc2ba;
    border: 1px solid #54473c;
    border-radius: 0 1vw;
    background-color: #54473c;
    padding: 10px;
}

/* About section */
#about-us {
    color: #826f60b5;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.about-containers {
    width: 100%;
}

#image-box {
    width: 330px;
    height: 500px;
    overflow: hidden;
    margin-left: 0.3em;
    border-radius: 5vw;
}

div > img {
    height: 100%;
}

.about {
    margin: 0.3em;
    background-color: #cdc2ba;
    color: #54473c;
    border-radius: 5vw;
}

.about-text {
    padding: 20px;
}


.about h2 {
    line-height: 0.5;
    font-size: 5vw;
    padding-bottom: 5px;
    border-bottom: 2px solid #54473c;
}

.about p {
    font-size: 3.5vw;
    padding-top: 15px;
    font-weight: 400;
}

/* Customer reviews */
#reviews-header {
    background: #54473c;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
}

#reviews-header h2 {
    font-size: 3.3vw;
    color: #cdc2ba;
}

.reviews-container {
    display: flex;
    justify-content: center;
}

.customers {
    text-align: center;
    width: 20%;
    color: #54473c;
    font-size: 1.5vw;
    font-weight: 400;
    background-color: #cdc2ba;
    padding: 30px 20px;
    border-radius: 1vw;
    margin: 0 2vw;
}

/* Contact section */
#location-header {
    margin: 20px 0;
    padding: 10px;
    text-align: center;
    font-size: 2vw;
    color: #cdc2ba;
    background-color: #54473c;
}

.location-container {
    display: flex;
    justify-content: center;
    color: #54473c;
    margin-bottom: 20px;
    flex-direction: column;
}

.contact {
    color: #54473c;
    font-size: 2.5vw;
    border-bottom: 2px solid #54473c;
}

.location-text {
    padding: 20px 20px;
    border-radius: 1vw;
    width: auto;
    font-size: 1.5vw;
    font-weight: 400;
    background-color: #cdc2ba;
    margin: 0 1vw;
}

#fname {
    margin-top: 10px;
}

#lname,
#select-type,
#yogatype {
    margin-bottom: 3px;
}

.center {
    text-align: center;
}

.form-style {
    background-color: #f2efee;
    border: 1px solid #54473c;
    padding: 3px 5px;
}

#select-type,
#pick-date {
    margin-right: 10px;
}

#time {
    margin-bottom: 30px;
    font-family: playfair display, sans-serif;
}

#submit {
    background-color: #54473c;
    padding: 10px 20px;
    color: #cdc2ba;
    font-size: 1.5vw;
    border-radius: 1vw;
    font-family: playfair display, sans-serif;
    font-weight: 900;
}

#submit:hover {
    font-size: 1.7vw;
}

#yogatype {
    font-family: playfair display, sans-serif;
    background-color: #f2efee;
    border: 1px solid #54473c;
}

/* footer */
.socialmedia-container {
    background-color: #54473c;
    display: flex;
    justify-content: center;
}

#media-one i,
#media-two i,
#media-three i,
#media-four i {
    color: #cdc2ba;
    font-size: 4vw;
    padding: 1.5em 2em;
}

/* Blog post preview */
.blog-preview {
    font-size: 1.4vw;
    margin: 50px;
}

.blog-preview h2 {
    color: #54473c;
    line-height: 50px;
    border-bottom: 2px solid #826f60;
    font-size: 2.5vw;
    font-family: oooh baby, sans-serif;
}

.blog-preview i {
    font-size: 2vw;
}

.blog-preview p {
    font-weight: 400;
    color: #54473c;
}

.blog-preview a {
    text-decoration: none;
}

/* Style for blog post pages */
#blog-post h3 {
    color: #54473c;
    font-weight: 600;
}

#blog-post h1 {
    color: #cdc2ba;
    font-family: oooh baby, sans-serif;
    font-size: 2vw;
    background-color: #54473c;
    border-radius: 1vw;
    padding: 10px 10px;
    margin-bottom: 10px;
}

/* Gallery */
#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* Media queries */

/* For larger to medium screens size from 850px wide and down */
@media screen and (min-width: 850px) {
    .nav-container {
        font-size: 2.3vw;
        margin: 2em 2em 0;
    }

    header,
    .location-container {
        flex-direction: row;
    }
}


