@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap');

body {
    font-family: Playfair Display, Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: black;
}

/* Remove default values */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Headings and logo */
h1, h2 {
    font-family: Playfair Display, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: brown;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 30px;
}

#nav-menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#nav-menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

#nav-menu a {
    text-decoration: none;
    color: black;
}

#nav-menu, #logo {
    line-height: 75px;
}

#nav-menu a:hover {
    border-bottom: 1px solid black;
}

.current {
    border-bottom: 1px solid black;
}